# Build tools
setuptools==65.5.1
wheel==0.38.4

# App and data processing
flask==2.0.1
pandas==2.2.3
numpy==1.23.5


# ML libraries
scikit-learn==1.0.2
nltk==3.6.2

# Model serving
gunicorn==20.1.0

# PyTorch
--extra-index-url https://download.pytorch.org/whl/torch_stable.html
torch==1.10.0
